


.sjpp-plus-button, .sjpp-dshandleholder {
    border-radius: 4px;
}

.output-sandbox-header, .output-sandbox-close-bt
{
    background-color: #0071a9 !important;
    color:white;
    font-weight: bold;

}

.output-sandbox-content
{
    background-color: #c9e3ee !important;
}
