.git
*.tgz
!stjude-*.tgz
node_modules
package-lock.json
scripts
tmpbuild
tmppack
p4

# Exclude Dockerfile from context so changes don't bust the layer cache
*/Dockerfile
*/*/Dockerfile
*/*/*/Dockerfile
