.env
*.swp
.DS_Store
/node_modules*/
*/*/node_modules*/
npm-debug.log
dist/*
*/*/dist/
*/*/*/dist/

public/bin/*
*/*/public/bin/*
public/portal
*/*/public/public

public/tmp/*
public/data/*
public/stage/*
public/prod/*
public/ppdev/*
public/sjcharts/*
public/.htaccess
public/dev.html
public/svcnv.html
public/ALCL.html
.htaccess
public/builds/*
public/static/*.docx
public/static/*.pdf
public/rev.txt

/utils/vcf2genesamplematrix/bin.js
/utils/vcf2genesamplematrix/output.html
/utils/vcf2genesamplematrix/bin.smat.js
/utils/findspliceevent/bin2.js
/utils/findspliceevent/bin.js
/utils/countbamallele.phased/bin*
/utils/prs/bin.js

/dnanexus/app/vcf2matrix/resources/usr/bin/*

test/copies/*

package-lock.json

cairo-*/*
canvas/*
pixman-*/*
serverconfig.json
server.js*
setup/*gz*
setup/*
tmpbuild/*
tmppack/*
pp-server/*

*-stash.js

*.tar
*.tgz
*.min.js

deploys/

p4/node_modules/
p4/public/bin/*
p4/config.json
p4/public/dev.html
.vscode/launch.json
.vscode/settings.json

*.key
*.pem
*.csr
*.ext
*.crt
.ssl
