*.swp
.DS_Store
/node_modules/
npm-debug.log

public/bin/*
public/data/*
public/stage/*
public/prod/*
public/ppdev/*
public/.htaccess
public/dev.html
public/svcnv.html
public/ALCL.html
.htaccess
public/builds/*
public/no-babel-polyfill/*

/utils/vcf2genesamplematrix/bin.js
/utils/vcf2genesamplematrix/output.html
/utils/vcf2genesamplematrix/bin.smat.js
/utils/findspliceevent/bin2.js
/utils/findspliceevent/bin.js
/utils/countbamallele.phased/bin.js

/dnanexus/app/vcf2matrix/resources/usr/bin/*


sjcharts.html

package-lock.json

cairo-*/*
canvas/*
pixman-*/*
serverconfig.json
setup/*gz*
setup/*
tmpbuild/*

*-stash.js

*.tgz
*.min.js

scripts/*.newdev.sh

deploys/

p4/node_modules/
p4/public/bin/*
p4/config.json
