.env
**/.npmrc
*.swp
*.DS_Store
/node_modules*/
**/node_modules*/
npm-debug.log
dist/*
**/dist

.sse/*
!.sse/README.md


public/bin
**/public/bin/*
public/tmp/*
public/data/*
public/stage/*
public/prod/*
public/ppdev/*
public/sjcharts
public/.htaccess
public/dev.html
public/svcnv.html
public/ALCL.html
.htaccess
public/builds/*
public/static/*.docx
public/static/*.pdf
**/rev.txt
public/docs/*/*
public/docs/readme.json
public/docs/server-api.json

cairo-*/*
canvas/*
pixman-*/*
**/serverconfig*.json

**/server.js*
**/server.ts*
setup/*gz*
setup/*
**/tmpbuild*/*
**/tmppack*/*
pp-server/*
archive/*
**/package/*
**/package */*

*-stash.js

*.bak
*.tar
*.tgz
*.min.js

deploys/

.vscode/launch.json
.vscode/settings.json
.idea/

*.key
*.pem
*.csr
*.ext
*.crt
.ssl
ssl-proxy.json
.RData
log.txt
**/*.log
*-debug.*
build/sj/env.sh

# new workspace, work-in-progress
shared/*
