test/checkers*/*
test/checkers-raw/*.ts
test/types/*.js
public/docs/*
public/server-api.json
**/*.js
!**/ReqResCache.*
!**/closestSpec.*
!**/*Relevant*.*
!**/evalSpec*.*
!src/test/*.js
!src/test/toyApp/*.js
src/test/toyApp/checkers*/*
.coverage/*
coverage/*
