name: Publish Dev Container Image

on:
  workflow_dispatch:
    inputs:
      build_secret:
        type: string
        description: Build secret

jobs:
  build:
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3

      - name: Login to Github
        uses: docker/login-action@v3.4.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.PAT }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker Image
        uses: docker/build-push-action@v6
        with:
          context: ./container/
          file: ./container/dev/Dockerfile
          tags: ghcr.io/stjude/devcontainer:latest
          platforms: linux/amd64
          outputs: type=image
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: true
          build-args: |
            IMGREV=${{ github.sha }}
            IMGVER=latest
