name: Rust Build

on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-22.04
    container:
      image: ghcr.io/stjude/rust:latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: build rust
        run: |
          echo "Current directory:"$PWD && ls ./rust/ && version=$(grep '^channel' ./rust/rust-toolchain.toml | awk -F'"' '{print $2}')
          rustup default $version
          cd rust && cargo build --release
          ./extract_binaries.sh

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: rust-binaries
          path: rust/extracted_binaries