name: Integration tests

on:
  schedule:
    - cron: '0 6 * * *'
  workflow_dispatch:
    inputs:
      build_secret:
        type: string
        description: Build secret
  workflow_call: {}

jobs:
  check-user-permissions:
    runs-on: ubuntu-22.04
    steps:
      - id: set-build-secret
        run: |
          if [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
            echo "BUILD_SECRET=${{ github.event.inputs.build_secret }}" >> $GITHUB_OUTPUT
          else
            echo "BUILD_SECRET=${{ secrets.BUILD_SECRET }}" >> $GITHUB_OUTPUT
          fi
      - name: Check user permission
        uses: stjude/proteinpaint/.github/actions/check-user-permissions@master
        with:
          BUILD_SECRET: ${{ secrets.BUILD_SECRET }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          INPUT_BUILD_SECRET: ${{ steps.set-build-secret.outputs.BUILD_SECRET }}

  build:
    needs: check-user-permissions
    runs-on: ubuntu-22.04
    timeout-minutes: 20
    outputs:
      updated_rust: ${{ steps.check-rust-changes.outputs.updated_rust }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 10

      - uses: actions/setup-node@v4
        with:
          cache: 'npm'
          node-version: '24'

      - name: Install PP packages
        run: |
          npm ci

      - name: TSC
        shell: bash
        run: |
          cd shared/types
          npm run build
          cd ../../server
          npx tsc
          cd ..    

      - name: Check for Rust workspace changes
        id: check-rust-changes
        run: |
          CHANGEDWS=$(./build/bump.cjs prerelease)
          
          if [[ "$CHANGEDWS" == *"rust"* ]]; then
            echo "Rust workspace changes detected"
            echo "updated_rust=true" >> $GITHUB_OUTPUT
          else
            echo "No Rust workspace changes detected"
            echo "updated_rust=false" >> $GITHUB_OUTPUT
          fi

  rust-build:
    if: needs.build.outputs.updated_rust == 'true'
    needs: build
    uses: ./.github/workflows/CD-rust-build.yml

  docker-with-rust:
    needs: [rust-build]
    if: needs.build.outputs.updated_rust == 'true'
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 10

      - name: Download Rust binaries
        uses: actions/download-artifact@v4
        with:
          name: rust-binaries
          path: rust-binaries

      - name: Run integration tests
        uses: stjude/proteinpaint/.github/actions/run-integration-tests@master
        with:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

  docker-without-rust:
    needs: [build]
    if: needs.build.outputs.updated_rust == 'false'
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 10
          
      - name: Run integration tests
        uses: stjude/proteinpaint/.github/actions/run-integration-tests@master
        with:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}


