name: "Merge Change Log"

on:
  pull_request_target:
    types:
      - closed

jobs:
  merge:
    if: github.event.pull_request.merged
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.PAT }}

      - uses: actions/setup-node@v3
        with:
          cache: 'npm'
          node-version: '22'
          registry-url: 'https://registry.npmjs.org'
          scope: '@sjcrh'

      - name: Detect changes
        run: |
          NOTES=$(node ./build/changeLogGenerator.cjs)
          if [[ "$NOTES" != "" ]]; then
            echo "$NOTES" > CHANGELOG.md
          fi
          
          if [[ "$(git diff --name-only CHANGELOG.md)" == "CHANGELOG.md" ]]; then
            git add CHANGELOG.md
            
            if [[ -s release.txt ]]; then
              echo '' > release.txt
              git add release.txt
            fi
            
            git config --global user.email "PPTeam@STJUDE.ORG"
            git config --global user.name "PPTeam CI"
            git commit -m "append release notes to change log"
            BRANCH=$(git rev-parse --abbrev-ref HEAD)
            # okay to rebase since only changelog.md, release.txt are changed
            git pull --rebase
            git push origin $BRANCH
          fi
